<!DOCTYPE html>
<html>
  <body>
    <h2>Setze dein Wochenrapport Passwort zurück</h2>
    <p>Du hast kürzlich beantragt, dein Passwort für deinen Wochenrapport Account zurückzusetzen.
      Klicke auf den Button unten, um es zurückzusetzen.</p>
    <a href="<%= passwordResetUrl %>" style="display: inline-block; padding: 10px 20px; font-size: 20px;
      text-align: center; text-decoration: none; color: #fff; background-color: #4CAF50; border: none;
      border-radius: 15px; box-shadow: 0 9px #999;">
      Passwort Zurücksetzen
    </a>
    <p>Wenn du keine Passwortrücksetzung angefordert hast, ignoriere bitte diese E-Mail</p>
    <p>Der Passwort reset Link ist eine Stund lang gültig.</p>
  </body>
</html>
