<!DOCTYPE html>
<html>
  <body>
    <h2>Verifiziere deinen Wochenrapport Account</h2>
    <p>Dein User Account wurde erfolgreich registriert!</p>
    <p>Klicke auf den folgenden Button, um deinen User Account zu verifizieren:</p>
    <a href="<%= verificationUrl %>" style="display: inline-block; padding: 10px 20px; font-size: 20px;
      text-align: center; text-decoration: none; color: #fff; background-color: #4CAF50; border: none;
      border-radius: 15px; box-shadow: 0 9px #999;">
      Account Verifizieren
    </a>
  </body>
</html>
